/* header  */
nav {
  margin-top: 30px;
  margin-bottom: 30px;
}

nav section {
  display: inline-block;
  width: 200px;
}

nav h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 32px;
  font-weight: bold;
}
nav section a {
  margin-right: 10px;
  float: left;
}

nav p {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 6pt;
  color: #c2c2c2;
  font-weight: bold;
}
nav ul {
  margin-top: 15px;
  float: right;
}
nav li {
  display: inline-block;
}
nav div {
  margin-top: 20px;
  width: 100%;
  height: 15px;
  background-image: url(./img/hr-img.png);
  background-repeat: repeat;
}
nav li:nth-child(7) {
  margin-right: 5px;
}
/*   */

/*   */

/*   */

body {
  /* text-align: center; */
  padding: 5em 0 0 0;
  margin: auto 18.5%;
}

main {
}

.listItems {
  width: 899px;
}

#chocoTitle {
  display: inline-block;
}

#chocoTitle p {
  float: left;
  margin-top: 0;
  margin: 0 0 2em 0;
}

.floatRight {
  float: right;
}

.floatLeft {
  float: left;
}

h1 {
  font-family: 'Oswald', sans-serif;
  float: left;
  margin-bottom: 0;
}

main p {
  text-align: left;
}

.notepad div {
  position: absolute;
  height: 305px;
}

#leftItems,
#rightItems {
  position: absolute;
  margin-top: 5em;
}

#leftItems {
  left: 5%;
}

#rightItems {
  right: 15%;
}

li {
  font-size: 20px;
  list-style-type: none;
  text-align: left;
}

input {
  margin-right: 2em;
}

footer::before {
  clear: both;
}

footer div {
  margin-top: 20px;
  width: 100%;
  height: 15px;
  background-image: url(./img/hr-img.png);
  background-repeat: repeat;
}
